@using Hardware.Info

<SkeletonBox OnLoad="Load">
    <Skeleton>
        <Card Title="电脑信息" Hoverable="true">
            <Body>
                <Skeleton Active="true"></Skeleton>
            </Body>
        </Card>
    </Skeleton>
    <ChildContent>
        <Card Title="电脑信息" Hoverable="true">
            <Extra>
            </Extra>
            <Body>
                <Row Gutter="16">
                    <Col Span="8">
                        <TextDisplay Title="CPU" Value="@_cpu"></TextDisplay>
                    </Col>
                    <Col Span="8">
                        <TextDisplay Title="内存" Value="@_memory"></TextDisplay>
                    </Col>

                    <Col Span="8">
                        <TextDisplay Title="硬盘" Value="@_disk"></TextDisplay>
                    </Col>

                    <Col Span="8">
                        <TextDisplay Title="显卡" Value="@_gpu"></TextDisplay>
                    </Col>
                </Row>

                <Divider></Divider>

                <Alert Type="@AlertType.Success" Message="请确保有大于500GB的磁盘空间" />

                <Alert Type="@AlertType.Info" Message="请确保有大于500GB的磁盘空间" />
                <Alert Type="@AlertType.Warning" Message="请确保有大于500GB的磁盘空间" />
            </Body>
        </Card>
    </ChildContent>
</SkeletonBox>

@code {
    private string? _cpu, _memory, _disk, _gpu;
    private async Task Load()
    {
        var hardwareInfo = new HardwareInfo();
        _cpu = string.Join(", ", hardwareInfo.CpuList);
        _memory = GetHumanReadableSize(hardwareInfo.MemoryStatus.AvailablePhysical);
        // _disk = hardwareInfo.DriveList.Select(d => $"{d.Name} {GetHumanReadableSize(d.TotalSize)}").Join(", ");
        // _gpu = 
    }


    private string GetHumanReadableSize(ulong size)
    {
        if (size < 1024)
        {
            return $"{size} B";
        }
        else if (size < 1024 * 1024)
        {
            return $"{size / 1024} KB";
        }
        else if (size < 1024 * 1024 * 1024)
        {
            return $"{size / 1024 / 1024} MB";
        }
        else
        {
            return $"{size / 1024 / 1024 / 1024} GB";
        }
    }
}
